body{
    background-image:url(images/OIP\ \(1\).jpg) ;
    background-size: contain;

    background-attachment: fixed;
    align-items: center;
    font-family: cursive;
    
}

.home{
    font-size: large;
    align-self: left;
    background-color: rgba(140, 47, 47, 0.536);
}

.home:hover{
    background-color: rgba(130, 91, 23, 0.673);
    text-decoration: underline;
}

.menu{
    border: 20px solid black;
    margin-left: 300px;
    margin-right: 300px;
    background-color:antiquewhite;
    align-items: center;
    text-align: center
}

.logo{
    border: none;
    width: 300px;
    height: auto;
    margin-bottom: 0;
}

h1{
    margin-top: 0;
    font-size: 500%;
}

.section{
    font-size: 200%;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(142, 20, 20);
}

img {
    border: 2px solid black;
    width: 100px;
    height: 100px;
}

.menu-items{
    margin-left: 120px;
    align-items: center;
    align-content: center;
    display: flex;
}

.menu-item-details{
    margin-right: 10px;
    margin-left: 40px;
    text-align: left;
}

.price{
    font-family: cursive;
}

.section1{
    font-size: large;
    border: 2px solid black;
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: brown;
    border-radius: 20px;
}

.section1:hover{
color:black ;
background-color:rgb(207, 155, 72) ;

}

.order{
    height:50px ;
    right: 600px;
    width: 300px;
    border-radius: 45px;
    font-size: larger;
    color: white;
    background-color: #B3391C;
    position: fixed;
    bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.order:hover{
    background-color:rgb(207, 155, 72) ;
}
a{
    text-decoration: none;
    color: white;
    

}

.filter-buttons {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.filter-btn {
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border: none;
    background-color: #B3391C;
    color: white;
    transition: background-color 0.3s;
    border-radius: 50px;
}

.filter-btn.active {
    background-color: #682110;
}

.hide {
    display: none;
}

.filter-btn:hover{
    background-color: #682110;
    transition: 1s;
}


.btn-add{
    align-self: center;
    font-size: medium;
    color: white;
    background-color: #B3391C;
    border-radius: 40px;
    height: 30px;
    width: 100px;
    margin-bottom: 60px;
}
.btn-add:hover{
    cursor: pointer;
    background-color: #682110;
}
.row{
    align-items: center;
    display: flex;
    justify-content: space-around;}

.menu-items2{
    width: 300px;
    display: flex;
    flex-direction: column;


}

.img2{
    margin: 0 auto;
    width: 200px;
    height: 200px;
    /* border: none; */
    align-self: center;
}

.menu-logo2{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.logo-img{
    border: none;
}

.cart-row{
    align-self: center;
    align-items: center;
    width: 900px;
    display: flex;
    justify-content: space-around;
}

.cart-quantity-input{
width: 35px;
}

.btn-danger{
    width: 100px;
    background-color: #B3391C;
    color: white;
    border-radius: 20px;
    height: 40px;
    border: none;
    cursor: pointer;
}
.btn-danger:hover{
    background-color: #682110;
    transition: 0.5s;
}

.cart{
    background-color: bisque;
    justify-content: center;
    
}

.bottom{
    margin-right: 20px;
    text-align: right;
}

.payment-meth{
    align-items: center;
    text-align: center;
    padding-bottom: 40px;
}

.img3{
    width: 50px;
    height: auto;
}

header{
    justify-content: center;
    align-content: center;
    align-items: center;
    /* position: fixed; */
}
         
.logo-img2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 180px;
    height: auto;
    border: none;
    align-self: center;
}

<<<<<<< HEAD
.home1{ margin-left: 10px;

}

.home1:hover{
    background-color: rgba(164, 58, 58, 0.427);
}

.back{
    margin: 25px;
    padding: 15px;
    background-color: #B3391C;
    color: white;
    border-radius: 50px;
    border: none;
    cursor: pointer;
}
.back:hover{
    background-color: #682110;
    transition: 0.5s;
}
.quantity{
    display: flex;
}
