body{
    background-image:url(./OIP\ \(1\).jpg) ;
    background-size: contain;
    background-attachment: fixed;
    align-items: center;
    font-family: cursive;
    
}

.menu{
    border: 20px solid black;
    margin-left: 300px;
    margin-right: 300px;
    background-color: wheat;
    align-items: center;
    text-align: center
}

.logo{
    border: none;
    width: 300px;
    height: auto;
    margin-bottom: 0;
}

h1{
    margin-top: 0;
    font-size: 500%;
}

.section{
    font-size: 200%;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(142, 20, 20);
}

img {
    border: 2px solid black;
    width: 100px;
    height: 100px;
}

.menu-items{
    margin-left: 120px;
    align-items: center;
    align-content: center;
    display: flex;
}

.menu-item-details{
    margin-left: 30px;
    text-align: left;
}

.price{
    font-family: cursive;
}

a{
    font-size: larger;
    border: 2px solid black;
    text-decoration: none;
    color: rgb(215, 171, 114);
    background-color: black;
}

a:hover{
color:black ;
background-color: white;
}