body{
    background-image:url(images/OIP\ \(1\).jpg) ;
    background-size: contain;
    background-attachment: fixed;
    align-items: center;
    font-family: cursive;
    
}

.menu{
    border: 20px solid black;
    margin-left: 300px;
    margin-right: 300px;
    background-color: wheat;
    align-items: center;
    text-align: center
}

.logo{
    border: none;
    width: 300px;
    height: auto;
    margin-bottom: 0;
}

h1{
    margin-top: 0;
    font-size: 500%;
}

.section{
    font-size: 200%;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(142, 20, 20);
}

img {
    border: 2px solid black;
    width: 100px;
    height: 100px;
}

.menu-items{
    margin-left: 120px;
    align-items: center;
    align-content: center;
    display: flex;
}

.menu-item-details{
    margin-left: 40px;
    text-align: left;
}

.price{
    font-family: cursive;
}

.section1{
    font-size: large;
    border: 2px solid black;
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: brown;
    border-radius: 20px;
}

.section1:hover{
color:black ;
background-color:rgb(207, 155, 72) ;

}

.order{
    height:50px ;
    right: 600px;
    width: 300px;
    border-radius: 45px;
    font-size: larger;
    color: white;
    background-color: #B3391C;
    position: fixed;
    bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.order:hover{
    background-color:rgb(207, 155, 72) ;
}
a{
    text-decoration: none;
    color: white;
    

}

.filter-buttons {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.filter-btn {
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border: none;
    background-color: #B3391C;
    color: white;
    transition: background-color 0.3s;
    border-radius: 50px;
}

.filter-btn.active {
    background-color: #682110;
}

.hide {
    display: none;
}

.filter-btn:hover{
    background-color: #682110;
    transition: 1s;
}
